body {
  background-color: black;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif, "PT Sans";
}

.container {
  display: grid;
	justify-content: center;
  grid-template-rows: 1fr 6fr;
  height:100vh;
  margin: 0;
  padding-top: 0;
}

.periodic-table {
	display: grid;
	justify-content: right;
  grid-template-columns: repeat(18, minmax(30px, 1fr));
  grid-template-rows: repeat(9, 1fr);
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.periodic-table__relative {
  position: 'relative';
  top: '325px';
}

.periodic-element {
  display: grid;
	justify-content: left;
  grid-template-columns: 1fr 3fr;
  border: 2px solid white;
  background-color: gray;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  overflow: hidden;
}

.periodic-element:hover {
  opacity:.8;
  cursor:  grab;
}

.header {
  color: linear-gradient(to bottom right, black 0%, gray 100%);
  color: gray;
  text-align: center;
  position: fixed;
  top: 1rem;
  left: 10rem;
}

.image {
  width: 100%;
  border-radius: 50%;
  grid-column-start: 1;
  grid-column-end: -1;
}

.symbol{
  margin-left: .5rem;;
}

.periodic-element__expanded {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: none;
	justify-content: left;
  grid-gap: .5em;
  grid-template-columns: 180px 250px 3fr;
  /* z-index: -1; */
  color: white;
  padding: 10px;
  /* background-color: rgba(49, 49, 49, .6);  */
  /* height: 330px; */
}

/* .periodic-element__expanded:hover {
  background: linear-gradient(to bottom right, gray 0%, black 100%);
} */

.periodic-element__expanded-name {
  justify-content: space-between;
}

.periodic-element__expanded-basics:nth-child(odd) {
  color: gray; 
}

.periodic-element__expanded-description {
  display: grid;
  grid-template-columns: 2fr 3fr .3fr;
  grid-gap: .8em;
}

.periodic-element__expanded-description-basics {
  font-size: 1.5rem;
  margin-bottom: 3em;
}

.periodic-element__expanded-image {
  border-radius: 50%;
  width: 250px;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  transition: height 950ms ease-in-out;
}

.periodic-element__expanded-close{
  text-align: right;
  padding: 0 20px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .periodic-element {
    font-size: 1rem;
    text-align: center;
    /* grid-template-columns: 1fr;
    padding: 2px; */
  }

  .header {
    top: .3rem;
    left: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    top: .5rem;
    left: 5rem;
  }

  .image {
    width:30px;
  }

  .periodic-table {
    grid-template-columns: repeat(18, minmax(30px, 1fr));
  }

  .periodic-element {
    font-size: 1rem;
  }
  .periodic-element__expanded-description {
    grid-template-columns: 200px 2fr 3fr;
    grid-gap: .3em;
    font-size: 1rem;
  }
  .periodic-element__expanded-description-basics {
    font-size: 1.5rem;
  }
}


@media only screen and (max-width: 600px) {
  .container {
    grid-template-rows: 1fr 1fr;
  }
  .header {
    display: none;
  }

  .image {
    width:70px;
  }

  .periodic-table {
    display: relative;
    grid-auto-flow: dense;
    grid-template-columns: 0;
    grid-template-rows: 1fr;
    grid-column: 1;
    top: 440px;
    left: 84px;
    align-items: right;
    border: black;
    z-index: 200;
  }
  .periodic-element__expanded {
    display:grid;
    grid-template-columns: 1fr;
    border: 0;
    background-color: transparent;
    font-size: .5rem;
    height: unset;
    margin-bottom: 30px;
    width: unset;
    z-index: unset;
    grid-gap: .1em;
    max-width: 70vw;
  }

  .periodic-element__expanded-description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: .1em;
    height: 100%;
  }

  .periodic-element__expanded-description-basics {
    font-size: .9rem;
  }

  .periodic-element {
    border: 0px solid black;
    margin: 0 0 2px 0;
  }


}